{% extends 'base.html.twig' %}

{% block title %}Описание{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
        }
        span{
            font-weight: bold;
        }
        p{
            font-size: 18px;
        }
    </style>
    <h1>Описание проекта</h1>
    <p>
    Данный сайт предствляет собой сервис вопросов и ответов. Пользователи добавляют на сайт свои вопросы и любой другой пользователь может на него ответить.
    <br><br>
        <span>На всех страницах</span> в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и регистрацию, для авторизованных - приветствие, кнопку “Выход” и имя пользователя.
    <br><br>
        <span>На главной странице</span> выводятся вопросы, отсортированные по дате добавления. У каждого вопроса выводится заголовок, дата добавления и количество ответов к нему.
        <br><br></p>
            <p><span>На странице вопроса</span> выводится:
        <br>
    <ul style="list-style-type:square; list-style-position:inside;">
        <li>заголовок вопроса</li>
        <li>текст вопроса</li>
        <li>имя автора</li>
        <li>категория вопроса</li>
        <li>список ответов пользователей, отсортированных по дате добавления</li>
        <li>форма “Добавить ответ” (текстовое поле и кнопка  “Отправить”)</li>
    </ul>
    <br></p>
        <p><span>На странице добавления вопроса</span> располагается форма с полями
        <br>
    <ul style="list-style-type:square; list-style-position:inside;">
        <li>заголовок вопроса</li>
        <li>текст вопроса</li>
        <li>категория вопроса</li>
    </ul></p>
    <br>
    <p>
    Если какие-то из обязательных полей не заполнены, сохранения в БД не происходит, на форме выводятся сообщения об ошибках. Заполненные пользователем текстовые поля не сбрасываются.
        <br>
        Пользователь может указать произвольную категорию вопроса, даже если такой не существует в настоящее время на сайте.
        <br>
        После успешной отправки выполнять редирект на страницу созданного вопроса.
        <br>
        Все пользователи (в том числе неавторизованные) могут просматривать вопросы и ответы к ним.
        <br>
        Авторизованные пользователи могут отвечать на вопросы.
        <br>
        Пользователь с правами администратора должен иметь возможность удаления и редактирования вопросов, а также удаления ответов.
    </p>
{% endblock %}
